* {
  box-sizing: border-box;
}

html,
input,
select {
  font-size: 16px;
  height: 100%;
}
@media screen and (min-width: 320px) {
  html,
  input,
  select {
    font-size: calc(16px + (6 * ((100vw - 320px) / 680)));
  }
}
@media screen and (min-width: 1025px) {
  html,
  input,
  select {
    font-size: 22px;
  }
}

body,
input,
select {
  margin: 0;
  font-family: Jost, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: #333;
}
