.display {
  display: flex;
  height: 100%;
  width: calc(100vw - 4rem);
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #333;
  background: radial-gradient(
      100vw 40vh at bottom,
      rgba(0, 0, 0, 0.2),
      transparent
    ),
    radial-gradient(100vw 40vh at top, rgba(0, 0, 0, 0.2), transparent);
  overflow: hidden;
}

.display--callactive {
  color: #333;
}

.display--dangerous {
  background-color: #c9323b;
  color: #fff;
}

.display--negative,
.display--harassing {
  background-color: #e96034;
  color: #fff;
}

.display--neutral {
  background-color: #666;
  color: #fff;
}

.display--safe {
  background-color: #4a9401;
  color: #fff;
}

.display--callinactive .idle-label {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
}

.display .idle-label,
.display .incoming-call-label,
.display .rating-label {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1;
  opacity: 0.8;
  margin: 0;
}

.display .incoming-call-label,
.display .rating-label,
.display .incoming-call-number,
.display .rating-score {
  display: block;
}

.display .incoming-call-number,
.display .rating-score {
  text-transform: capitalize;
  display: block;
  position: relative;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.display .incoming-call-number .spinner,
.display .rating-score .spinner {
  position: absolute;
  color: #ccc;
  width: 8vw;
  height: 8vw;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.display .incoming-call {
  margin: 0;
}

.display .incoming-call-number {
  font-size: calc(100vw / var(--number-length) * 1.2);
  min-height: 10vw;
  line-height: 1;
}

.display .rating-score {
  font-size: calc(100vw / var(--number-length) * 1.5);
  min-height: 12vw;
  line-height: 1;
}
